<div class="container my-5">
    <div class="col-6 row">
        <div class="col-3">
            <h1 class="">Drivers</h1>   
        </div>
        <div class="m-2 col-6">
            <a class="btn btn-success"  routerLink="drivers/add">Add Driver</a>
        </div>   
    </div>
<table class="table" *ngIf="Drivers_ && Drivers_.length > 0" >
<thead>
    <tr>
        <th>FirsName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let Driver of Drivers_" >
        <td>{{Driver.firstname}}</td>
        <td>{{Driver.lastname}}</td>
        <td>{{Driver.email}}</td>
        <td>{{Driver.phoneNumber}}</td>
        <td><a class="btn btn-primary" [routerLink]="['drivers','edit',Driver.driverId]">view</a>
            <span>&nbsp;&nbsp;</span>
            <a class="btn btn-danger" href="#" (click)="Delete_Driver(Driver.driverId)">Delete</a></td>
        
    </tr>
</tbody>
</table>
<p *ngIf="!Drivers_ || Drivers_.length <= 0">No Drivers Available</p>
</div>